/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

item-menu {
    margin-top: 100px;
    background-color: red;
}

// panelClass: ['blue-snackbar']
.blue-snackbar {
  background: #2196F3;
}

.no-data {
  box-sizing: border-box;
  text-align: center;
  padding: 20px 10px;
}

.mat-snack-bar-container {
  &.primary {
    background: #2196F3;
  }
  &.success {
    background: #00960b;
    color: #f9f9f9;
  }
  &.alert {
    color: #000000bb;
    background: #ffd740;
  }
  &.info {
    background: #dff1ff;
    color: #5186b1;
  }
  &.error {
    background: #f3c8c8;
    color: #9e4b4b;
  }
}
.half-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  .form-row {
    width: 100%;
    .mat-form-field {
      width: 100%;
    }
    &.button-area {
      display: flex;
      justify-content: flex-end;
      button + button {
        margin-left: 10px;
      }
    }
  }
}
